In [1]:
import os
import graphviz

In [2]:
sys.path.insert(1,r'F:\Users\Kaggle\bulian')

In [3]:
import os,sys,torch
import pandas as pd

c:\Users\anaconda\envs\BulianAI\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
from bulian import load_demo
tables = load_demo()

c:\Users\anaconda\envs\BulianAI\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
tables

{'users':    user_id country gender  age
 0        0      US      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4      US      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os  minutes
 0           0        0  mobile  android       23
 1           1        1  tablet      ios       12
 2           2        2  tablet  android        8
 3           3        3  mobile  android       13
 4           4        4  mobile      ios        9
 5           5        5  mobile  android       32
 6           6        6  mobile      ios        7
 7           7        7  tablet      ios       21
 8           8        8  mobile      ios       29
 9           9        9  tablet      ios       34,
 'transactions':    transaction_id  session_id           timestamp  amount  cancelled
 0               0           0 2019-01-01 12:34:32   100.0      False
 1               1           1 2019-01-01 12:42:21    55.3      False
 2               2           2 2019-01-07 17:23:11    79.5      False
 3               3           3 2019-01-10 11:08:57   112.1       True
 4               4           4 2019-01-10 21:54:08   110.0       True
 5               5           5 2019-01-11 11:21:20    76.3      False
 6               6           6 2019-01-22 14:44:10    89.5      False
 7               7           7 2019-01-23 10:14:09   132.1       True
 8               8           8 2019-01-27 16:09:17    68.0      False
 9               9           9 2019-01-29 12:10:48    99.9      False}

In [6]:
from bulian import Metadata

metadata = Metadata()
metadata

Metadata
  root_path: .
  tables: []
  relationships:

In [7]:
metadata.add_table(
    name='users',
    data=tables['users'],
    primary_key='user_id'
)

In [8]:
# metadata.visualize()

In [9]:
metadata.get_table_meta('users')

{'fields': {'user_id': {'type': 'id', 'subtype': 'integer'},
  'country': {'type': 'categorical'},
  'gender': {'type': 'categorical'},
  'age': {'type': 'numerical', 'subtype': 'integer'}},
 'primary_key': 'user_id'}

In [10]:
for name, table in tables.items():
    print(name, table.shape)

users (10, 4)
sessions (10, 5)
transactions (10, 5)

In [11]:
import rdt
rdt.__version__

'0.6.4'

In [12]:
from bulian.utils import display_tables
display_tables(tables)

In [13]:
from bulian.relational import HMA1

model = HMA1(metadata)
model.fit(tables)

In [14]:
import rdt

rdt.HyperTransformer

rdt.hyper_transformer.HyperTransformer

In [21]:
new_data = model.sample(num_rows=100_000)

Sampling rows: 100%|██████████| 100000/100000 [00:00<00:00, 826463.84it/s]

In [22]:
new_data

{'users':        user_id country gender  age
 0           10      DE    NaN   27
 1           11      DE      F   48
 2           12      DE      M   57
 3           13      UK      M   28
 4           14      UK    NaN   26
 ...        ...     ...    ...  ...
 99995   100005      UK      M   28
 99996   100006      UK      M   24
 99997   100007      US      M   31
 99998   100008      UK      M   35
 99999   100009      US      F   41

 [100000 rows x 4 columns]}

In [ ]:
from bulia

In [ ]:
metrics = SingleTableMetric.get_subclasses()
numeric_features = ['capital-gain','capital-loss','hours-per-week']
discrete_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
    "income",
]

In [ ]:
metrics

In [ ]:
compute_metrics(metrics,data, sample)

#### Report with privacy metrics

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features, key_fields=['age','workclass','education'],sensitive_fields = ['income'])

#### Report without privacy metrics, but includes ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features,target='income')

#### Report without privacy metrics and without ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features)

#### Save model to disk

In [ ]:
synth.save('F:/Users/Kaggle/wids/NormalAPI.pth')

####

## Adversarial API: Non-privately differentiable synthesizer

In [ ]:
synth = TwinSynthesizer(batch_size=200,device='cpu')   ### cpu else cuda

In [ ]:
synth.fit_adversarial(data=data,epochs=2,discrete_columns=discrete_columns,test_pct=0.33)

In [ ]:
sample = synth.sample_adversarial(data,1000)

In [ ]:
metrics = SingleTableMetric.get_subclasses()
numeric_features = ['capital-gain','capital-loss','hours-per-week']
discrete_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
    "income",
]

#### Report with privacy metrics

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features, key_fields=['age','workclass','education'],sensitive_fields = ['income'])

#### Report without privacy metrics, but includes ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features,target='income')

#### Report without privacy metrics and without ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features)

#### Save model to disk

In [ ]:
synth.save('F:/Users/Kaggle/wids/AdversarialAPI.pth')

####

## Normal API: Privately differentiable synthesizer

In [ ]:
synth = PrivateTwinSynthesizer(epsilon=0.1,batch_size=64,device='cuda')   ### cpu else cuda

In [ ]:
synth.fit(data=data,discrete_columns=discrete_columns,update_epsilon=1)

In [ ]:
sample = synth.sample(1000)

In [ ]:
metrics = SingleTableMetric.get_subclasses()
numeric_features = ['capital-gain','capital-loss','hours-per-week']
discrete_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
    "income",
]

#### Report with privacy metrics

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features, key_fields=['age','workclass','education'],sensitive_fields = ['income'])

#### Report without privacy metrics, but includes ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features,target='income')

#### Report without privacy metrics and without ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features)

#### Save model to disk

In [ ]:
synth.save('F:/Users/Kaggle/wids/PrivateModelNormalAPI.pth')

####

## Adversarial API: Privately differentiable synthesizer

In [ ]:
synth = PrivateTwinSynthesizer(epsilon=0.1,batch_size=64,device='cuda')   ### cpu else cuda

In [ ]:
synth.fit_adversarial(data=data,discrete_columns=discrete_columns,update_epsilon=1)

In [ ]:
sample = synth.sample_adversarial(data,1000)

In [ ]:
metrics = SingleTableMetric.get_subclasses()
numeric_features = ['capital-gain','capital-loss','hours-per-week']
discrete_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
    "income",
]

#### Report with privacy metrics

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features, key_fields=['age','workclass','education'],sensitive_fields = ['income'])

#### Report without privacy metrics, but includes ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features,target='income')

#### Report without privacy metrics and without ML efficacy stuff

In [ ]:
get_full_report(data, sample,discrete_columns,numeric_features)

#### Save model to disk

In [ ]:
synth.save('F:/Users/Kaggle/wids/PrivateModelAdvAPI.pth')

####

### Fin ###